<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>{{ jinja_dict.title }}</title>

        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.0.min.js" integrity="sha384-HjagQp6T0/7bxYTAXbLotF1MLAGWmhkY5siA1Gc/pcEgvgRPtMsRn0gQtMwGKiw1" crossorigin="anonymous"></script>
        <script type="text/javascript">
            Bokeh.set_log_level("info");
        </script>

  </head>

  <body>
  <h2>Total Views: {{ jinja_dict.Total_Views }}</h2>
  <h2>Total Clones: {{ jinja_dict.Total_Clones }}</h2>

  {{ jinja_dict.div|safe }}
  {{ jinja_dict.script| safe }}
  </body>
</html>
