# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on: [push, pull_request]

jobs:
  build-n-test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9']
    env:
      work_dir: ./test_folder

    steps:
    - name: Checkout github_stats_pages
      uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest pytest-cov
    - name: Install github_stats_pages
      run: |
        python setup.py install
    - name: Test with pytest
      run: |
        echo "Username for unit tests : ${{ github.actor }}"
        pytest --cov-report term-missing --cov=github_stats_pages tests --username ${{ github.actor }} --token ${{ secrets.GH_TOKEN }}
    - name: Test scripts
      run: |
        mkdir ${{ env.work_dir }}
        get_repo_list -u ${{ github.actor }}
        gts_run_all_repos -u ${{ github.actor }} -t ${{ secrets.GH_TOKEN }} -c ${{ github.actor }}.csv
        merge_csv.sh ./
        make_stats_plots -u ${{ github.actor }} -d ./ -o ./ -c ${{ github.actor }}.csv
      working-directory: ${{env.work_dir}}
